nav{
    background-color: gray;
}
ul{
    display: inline-block;
}
li{
    list-style: none;
    display: inline;
    margin:5px 20px;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}