body{
    padding: 100px;
}
.welcome-text{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}

#transaction-area{
    display: none;
}
.status{
    margin: 0 50px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.box{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}